
body {
  background-color: antiquewhite;

}


button, .button {
	margin-bottom: 0 !important;
	margin-right: .5rem;
}

.my-row {
    flex-direction: row !important;
	display: flex;
	flex-wrap: wrap;
}

.flex {
    flex: 1;
    margin-bottom: 0;
	padding-left: 1rem;
	padding-right: 1rem;
}

.my-container{
	background-color: darkgray;
	max-width: 1200px;
	padding: 0 1rem;
	margin: 0 auto;
}